.container {
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin: 15px;
  }
  
  .container label {
    font-weight: 700;
    font-size: 1rem;
    color: #000000;
    margin-left: 10px;
  }
  .container ::placeholder {
    color: black;
  }
  
  .container input {
    border-radius: 50px;
    border: 1px solid rgba(31, 54, 34, 0.42);
    outline: none;
    padding: 10px 15px;
    color: black;
    background-color: white;
    backdrop-filter: blur(50px);
    width:400px
  }
  
  .container input:hover {
    border-color: #ccc;
  }
  
  .container input:focus {
    border-color: #9900ff;
  }