@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  font-family: 'Lato', sans-serif;

}
.container {
  min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: url(right-img13.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.innerBox {
 
  min-width: 480px;
  height: 650px;
  width: 500px;
  background-color: #ffffff;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
    /* Fallback for browsers that don't support backdrop-filter */
    background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer .error {
  font-weight: bold;
  font-size: 0.875rem;
  color: #ff3300;
  text-align: center;
}

.footer button {
  outline: none;
    border: none;
    background-color: rgb(7, 95, 7);
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 16px;
    width: 100%;
    transition: 100ms;
    cursor: pointer;
}

.footer button:disabled {
  background-color: gray !important;
}

.footer button:hover {
  background-color: rgba(0, 128, 0, 0.793);
}

.footer p {
  font-weight: 700;
  color: #000;
}

.footer p span a {
  font-weight: bold;
  margin-left:0.5rem;
  color: green;
  letter-spacing: 1px;
  font-size: 1rem;
  text-decoration: none;
}